<!-- PAGE 15 : ZOOM IPPM 2020 -->

<div id="grid-container">
  <div class="titre">
    <h1>ARCHITECTURE – Allocation Model – Manpower Costs Supply</h1>
    <p>The TPE cost model will cover the all manpower and non-manpower costs across the TPE portfolio, including supply chain, project factory and overheads, and describes the allocation of these costs towards BUs and internal portfolio.
    </p>
  </div>
  <h2 id="top">IT  LANDSCAPE</h2>
  <h2 id="metrics">METRICS</h2>

  <div id="item1" class="blue">
    <h4>CATS</h4>
  </div>

  <div id="item2" class="blue">
    <h4>APPLICATIONS</h4>
    <p>LOGIN APPLICATION</p>
    <br>
    <br>
    <br>
    <p>AIR FRANCE APPLI 21</p>
    <br>
    <br>
    <br>
    <p>TECH APP :
      <br> BACK UP MANAGER</p>
  </div>

  <div id="item2top" class="blue">
    <h4>ORDERS/CC GROUPING</h4>
  </div>

  <img src="assets\img\cube.png" id="cube" routerLink="/matrix1">
  <div id="item3" class="blue">
    <h4>PRODUCTS</h4>
    <p>AIR FRANCE ALTEA</p>
    <p>IBERIA ALTEA</p>
  </div>
  <div id="item4" class="blue">
    <h4>BUSINESS PLATFORMS</h4>
  </div>
  <div id="item5">
    <h4>AIRLINE IT:</h4>
    <h4 id="blueRed">Passengers bookings<br>Criteria : Airline = AF</h4>
    <h5>AIRLINE IT</h5>
  </div>

  <div id="buttons">

    <div class="button">
      <button id="red" (click)="toggleColorMP2019('red')"></button>
      <p>Actual IT Towers Allocation Rules</p>
    </div>

    <div class="button">
      <button id="green" (click)="toggleColorMP2019('green')"></button>
      <p>Transaction based Allocation Rules</p>
    </div>

    <div class="button">
      <button id="ppm" routerLink="/ppm2020"></button>
      <p>PPM</p>
    </div>

    <div class="button">
      <button *ngIf="year == 2019" class="ippm2" (click)="toggleDisplay('foot')" (click)="toggleDisplay('nav')" routerLink="/year2019"></button>
      <button *ngIf="year == 2020" class="ippm2" (click)="toggleDisplay('foot')" (click)="toggleDisplay('nav')" routerLink="/year2020"></button>
      <p>Go back</p>
    </div>

  </div>

  <app-arrow [hidden]="!displayMP.green" id="greenCanvas1"
             [lines]="[createPoint(1, 40), createPoint(40, 40)]"
             [color]="'#6ab04c'"
             [direction]="'right'"
  ></app-arrow>

  <app-arrow [hidden]="!displayMP.green" id="greenCanvas3"
             [lines]="[createPoint(1, 40), createPoint(40, 40)]"
             [color]="'#6ab04c'"
             [direction]="'right'"
  ></app-arrow>

  <app-arrow  [hidden]="!displayMP.green"  id="greenCanvas4"
              [lines]="[createPoint(10, 40), createPoint(10, 20)]"
              [color]="'#6ab04c'"
              [direction]="'up'"
  ></app-arrow>

  <app-arrow  [hidden]="!displayMP.red"  id="redCanvas1"
              [lines]="[createPoint(10, 20), createPoint(10, 40)]"
              [color]="'#b53471'"
              [direction]="'down'"
  ></app-arrow>

  <app-arrow  [hidden]="!displayMP.red"  id="redCanvas2"
              [lines]="[createPoint(10, 20), createPoint(280, 20),createPoint(280, 80)]"
              [color]="'#b53471'"
              [direction]="'down'"
  ></app-arrow>

  <app-arrow [hidden]="!displayMP.red" id="redCanvas3"
             [lines]="[createPoint(10, 20), createPoint(280,20)]"
             [color]="'#b53471'"
             [direction]="'right'"
  ></app-arrow>

</div>

