<div id="grid-container">


  <div class="titre">
    <h1>ARCHITECTURE - Allocation Model APPTIO TARGET</h1>
    <p>The TPE cost model will cover the all manpower and non-manpower costs across the TPE portfolio, including supply chain, project factory and overheads, and describes the allocation of these costs towards BUs and internal portfolio.</p>
  </div>

  <h2 id="top">IT  LANDSCAPE</h2>

  <h3 id="left">Non-Manpower Costs</h3>

  <h2 id="metrics">METRICS</h2>


  <div id="item1" class="blue">
    <h4>IT TOWERS</h4>
    <p id="electricity">ELECTRICITY</p>

    <div id="hp">
      <p id="servers">HP SERVERS</p>
      <br>
      <p class="hp">HP S1</p>
      <p class="hp">HP S2</p>
      <p class="hp">HP S45</p>
    </div>

    <div id="hubs">
      <p id="cisco">CISCO HUBS</p>
      <br>
      <p class="hp">HUB 23</p>
      <p class="hp">HUB 100</p>
    </div>

    <p id="building">BUILDING</p>

  </div>

  <div id="item2" class="blue">
    <h4>APPLICATIONS</h4>
    <p>LOGIN APPLICATION</p>
    <br><br><br>
    <p>AIR FRANCE APPLI 21</p>
    <br><br><br>
    <p>TECH APP : <br> BACK UP MANAGER</p>
  </div>

  <img src="assets\img\cube.png" id="cube" routerLink="/matrix1">

  <div id="item3" class="blue">
    <h4>PRODUCTS</h4>
    <p>AIR FRANCE ALTEA</p>
    <p>IBERIA ALTEA</p>
  </div>

  <div id="item4" class="blue">
    <h4>BUSINESS PLATFORMS</h4>
  </div>

  <div id="item5">
    <h4>AIRLINE IT:</h4>
    <h4 id="blueRed">Passengers bookings<br>Criteria : Airline = AF</h4>
    <h5>AIRLINE IT</h5>
  </div>


  <div id="buttons">
    <div class="button">
      <button id="red" (click)="toggleColorMP2019('red')" ></button>
      <p>Actual IT Towers Allocation Rules</p>
    </div>
    <div class="button">
      <button id="green" (click)="toggleColorMP2019('green')"></button>
      <p>Transaction based Allocation Rules</p>
    </div>
    <div class="button">
      <button class="goBack2" (click)="toggleDisplay('foot')" (click)="toggleDisplay('nav')" routerLink="/year2019"></button>
      <p>Go back</p>
    </div>
  </div>

  <app-arrow  [hidden]="!displayMP.green"  id="greenCanvas2"
              [lines]="[createPoint(1, 40), createPoint(190, 40)]"
              [color]="'#6ab04c'"
              [direction]="'right'"
  ></app-arrow>

</div>
