<!-- NAVBAR -->
<div id="nav" *ngIf="!display.foot">
  <ul>
    <li><a routerLink="/">Start</a></li>
    <li><a routerLink="/year2018" (click)="toggleYear(2018)">2018</a></li>
    <li><a routerLink="/year2019" (click)="toggleYear(2019)">2019</a></li>
    <li><a routerLink="/year2020" (click)="toggleYear(2020)">2020</a></li>
    <li><a *ngIf="year == 2019" routerLink="/mp2019" (click)="toggleDisplay('foot')" (click)="toggleDisplay('nav')">IPPM</a></li>
    <li><a *ngIf="year == 2020" routerLink="/mp2020" (click)="toggleDisplay('foot')" (click)="toggleDisplay('nav')">IPPM</a></li>
    <li><a routerLink="/tpi"(click)="toggleDisplay('foot')" (click)="toggleDisplay('nav')">TPE</a></li>
  </ul>
</div>
<!-- GRID -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- FOOTER -->
<footer *ngIf="!display.foot">
  <div class="legend">
    <button (click)="toggleColor('yellow')" id="jaune"></button>
    <h5>Actuals</h5>
  </div>
  <div class="legend">
    <button (click)="toggleColor('grey')" id="gris">
    </button>
    <h5>Allocation within legal entity unit</h5>
  </div>
  <div class="legend">
    <button (click)="toggleColor('green')" id="vert"></button>
    <h5>Allocations through legal entities</h5>
  </div>
  <div class="legend">
    <button (click)="toggleColor('red')" id="rouge">
    </button>
    <h5>Budget controls</h5>
  </div>
</footer>
