
<!-- PAGE 16 : PPM 2020 -->

<div id="grid-container">
  <div class="titre">
    <h1>ARCHITECTURE – Allocation Model – Manpower Costs Supply</h1>
    <p>The TPE cost model will cover the all manpower and non-manpower costs across the TPE portfolio, including supply chain, project factory and overheads, and describes the allocation of these costs towards BUs and internal portfolio.
    </p>
  </div>
  <h2 id="top">IT  LANDSCAPE</h2>
  <h2 id="metrics">METRICS</h2>

  <div id="item1bis">
    <h4>CATS</h4>
  </div>

  <div id="item2">
    <h4>BW PLATFORM</h4>
  </div>

  <div id="item3" class="blue">
    <h4>PPM - BPC 10</h4>
    <p>BU PROJECTS PORTFOLIO</p>
    <p>TPE INT. PROJECTS PORTFOLIO</p>
    <div>
      <p id="third">APPLICATIONS PORTFOLIO</p>
      <p class="con">INFRASTRUCTURE APPLI</p>
      <p class="con" id="con">PRODUCTS PM</p>
    </div>
  </div>

  <img src="assets\img\cube.png" id="cube" routerLink="/matrix1">

  <h4 id="blueRed">Passengers bookings<br>Criteria : Airline = AF</h4>

  <div class="red">
    <button id="red" (click)="toggleColorMP2019('red')"></button>
    <p>Transaction based Allocation Rules</p>
  </div>

  <div class="green">
    <button id="green" (click)="toggleColorMP2019('green')"></button>
    <p>Actual IT Towers Allocation Rules</p>
  </div>

  <div class="goBack">
    <button id="goBack" routerLink="/mp2020"></button>
    <p>Go back to IPPM</p>
  </div>

</div>
