
<!-- PAGE 17 : ZOOM of BPC 11 2020 -->

<div id="grid-container">
  <div class="titre">
    <h1>ARCHITECTURE – Allocation Model – PPM Structure</h1>
  </div>



  <div id="item2top" class="blue">
    <h4>ORDERS/CC GROUPING</h4>
  </div>

  <div id="item2" class="blue">
    <h4>APPLICATIONS</h4>

    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <p>TECH APP :
      <br> BACK UP MANAGER</p>
  </div>


  <div id="item3" class="blue">
    <h4>PPM</h4>
    <p>BU PROJECTS PORTFOLIO</p>
    <p>TPE INT. PROJECTS PORTFOLIO</p>
    <div>
      <p id="third">APPLICATIONS PORTFOLIO</p>
      <p class="con">INFRASTRUCTURE APPLI</p>
      <p class="con" id="con">PRODUCTS PM</p>
    </div>
  </div>

  <div class="goBack">
    <button *ngIf="year == 2020" class="goBack2" (click)="toggleDisplay('foot')" (click)="toggleDisplay('nav')" routerLink="/year2020"></button>
    <p>Go back</p>
  </div>

</div>
