<div class="item3">BIG TITLE</div>
<div class="grid-container">

  <div *ngIf="colors.red" class="redDiv"></div>

  <div *ngIf="colors.yellow" class="yellowDiv"></div>

  <div class="item1 bigdiv">
    <h3>TITLE</h3>
    <p>Something 1</p>
    <p>Something 2</p>
    <p>Something 3</p>
  </div>

  <div class="item2 bigdiv">
    <h3>TITLE</h3>
    <p>Something 4</p>
    <p>Something 5</p>
  </div>

  <div *ngIf="colors.grey" class="grayDiv"></div>

  <div class="item4 bigdiv">
    <h3>TITLE</h3>
    <p>Something 6</p>
    <p>Something 7</p>
  </div>

  <div *ngIf="colors.green" class="greenDiv"></div>

  <div class="item5 bigdiv">
    <h3>TITLE</h3>
    <p>Something 8</p>
    <p>Something 9</p>
    <p>Something 10</p>
  </div>

  <canvas [hidden]="!colors.red" #arrow id="redCanvas"></canvas>

  <app-arrow [hidden]="!colors.green" id="greenCanvas"
             [lines]="greenLines"
             [color]="'green'"
  ></app-arrow>

  <app-arrow [hidden]="!colors.green" id="blueCanvas"
             [lines]="[createLine(10, 10, 50, 50), createLine(10, 90, 108, 10)]"
             [color]="'green'"
  ></app-arrow>

  <app-arrow [hidden]="!colors.red" id="redCanvas2"
             [lines]="redLines"
             [color]="'red'"
  ></app-arrow>


</div>
